@import url(https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

#app {
  font-family:
      -apple-system, BlinkMacSystemFont,
      "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
}

#main {
  margin: 0 auto;
  max-width: 900px;
  background-color: transparent;
}

#name {
  font-size: 300%;
}

#votingapp {
  font-size: 50%;
}

.polloptions {
  margin: 5px auto;
}

.forminput{
  width: 70%;
  margin: 20px auto;
}

.cursorpointer {
  cursor: pointer;
}

.pollbutton {
  margin: 10px;
}